.nav {
  position: relative;
  z-index: 98;
  transition: background-color 1s ease, color 1s ease;
  padding: 1em;
  max-width: 1000px;
  width: 100vw;
  margin: 0 auto;

  &::before, &::after {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: inherit;
    top: 0;
  }

  &::before {
    right: 100%;
  }

  &:after {
    left: 100%;
  }


  .open-sidebar-btn {
    display: none;
    border: none;
    outline: none;
    background-color: transparent;
    height: 22px;
    width: 30px;
    position: absolute;
    color: inherit;
    margin-top: 4px;

    > span, &::before, &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: currentColor;
      left: 0;
    }

    &::before {
      top: 2px;
    }

    &::after {
      bottom: 0;
    }
  }

  h1 {
    position: relative;
    margin-top: 0;
    text-align: right;

    a {
      text-decoration: none;
      padding-left: 50px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media screen and (max-width: 720px) {
      justify-content: center;
    }

    .close-btn {
      display: none;
    }

    li {
      margin-top: 1em;
       a {
         padding: 1em;
         opacity: 0.75;

         &.active {
           opacity: 1;
           font-weight: 700;
         }
       }
    }
  }



  @media screen and (max-width: 620px) {
    &[data-visible=yes] {
      ul {
        transform: translateX(0);
      }

      h1 {
        opacity: .4;
      }
    }

    .open-sidebar-btn {
      display: block;
    }

    h1 {
      transition: opacity.4s ease;
      margin: 0;
    }

    ul {
      position: fixed;
      display: block;
      background-color: inherit;
      transform: translateX(-100%);
      transition: transform .4s ease;
      left: 0;
      top: 0;
      height: 100vh;
      width: 400px;
      box-shadow: 0 0 5px rgba(0, 0, 0, .4);
      padding-top: 2em;
      font-size: 1.2em;

      li {
        width: 100%;
      }

      .close-btn {
        display: block;
        position: absolute;
        top: 1em;
        right: 1em;
        color: inherit;
        outline: none;

        height: 30px;
        width: 30px;
        background-color: transparent;
        border: none;

        &::before, &::after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2px;
          background-color: currentColor;
          left: 0;
        }

        &::before {
          transform: rotate(45deg);
        }

        &::after {
          transform: rotate(-45deg);
        }
      }
    }
  }

}
