.markdown-to-jsx {
  width: 100%;
  padding: 1em;
  max-width: 820px;
  margin: 0 auto;

  word-wrap: break-word;
  line-height: 1.4em;
  font-size: 1.1rem;

  @import './styles/paragraph.scss';
  @import './styles/headings.scss';
  @import './styles/lists.scss';
  @import './styles/links.scss';
  @import './styles/code.scss';
  @import './styles/quote.scss';
  @import './styles/image.scss';
  @import './styles/horizontal_rule.scss';
  @import './styles/table.scss';
}
