.markdown-to-jsx {
  @import url(https://fonts.googleapis.com/css?family=Zilla+Slab&display=swap);
  color: #333;
  font-family: 'Zilla Slab', serif;
  width: 100%;

  @import './styles/headings.scss';
  @import './styles/lists.scss';
  @import './styles/links.scss';
  @import './styles/code.scss';
  @import './styles/quote.scss';
  @import './styles/image.scss';
  @import './styles/horizontal_rule.scss';
  @import './styles/table.scss';
}
