.parts-page {

  section {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 8vw), 0 100%);
    position: relative;
    padding: 8vw 0 8vw 0;
    z-index: 998;
    margin-bottom: -8vw;

    &:nth-of-type(1) {
      padding-top: 1em;
    }
  }

}
