.footer {
  transition: background-color 1s ease;
  position: relative;
  z-index: 99;
  transform: translateY(100%);
  margin-left: -100vw;
  padding-left: 100vw;
  box-shadow: 0 0 5px rgba(40, 40, 40, .4);
}
