body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a, a:valid, a:any-link, a:visited, a:active {
  color: currentColor;
}
