.svg-scene {
  height: 100vh;
  max-height: 1280px;

  svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: sky 2s ease forwards;
    animation-delay: 4s;
    background-image: radial-gradient(at top right, #458f94, #e2fdff, #e2fdff);
    background-position: bottom left;
    background-size: 300%;

    @keyframes sky {
      to {
        background-position: center center;
        background-size: 100%;
      }
    }

    .grass {
      transform: translateY(calc(100% - 120px));

      .blade {
        animation: grow ease;
        transform-origin: 50% 100%;

        @keyframes grow {
          from {
            transform: scaleY(0);
          }
          to {
            transform: scaleY(1);
          }
        }
      }
    }

    .sun {
      fill: yellow;
      transform-origin: 150px 150px;
      animation: moveIn 5s ease-in-out 1 forwards;

      @keyframes moveIn {
        0% {
          transform: translate(0, 0) scale(.5);
        }
        100% {
            transform: translate(100vw, -180px) scale(1);
        }
      }

      @media screen and (max-width: 700px) {
        animation-duration: 4s;
        @keyframes moveIn {
          0% {
            transform: translate(0, 0) scale(.4);
          }
          100% {
            transform: translate(calc(100vw - 40px), -180px) scale(.7);
          }
        }
      }

      .sun-shine {
        stroke: yellow;

        &:nth-of-type(even) {
          stroke: gold;
        }

        stroke-width: 2px;
      }
    }

    .cloud {
      cursor: pointer;
      animation: moveInFL 3s ease 1 forwards;
      animation-delay: 2s;
      transform: translate(100vw, 0);
      &:nth-of-type(odd) {
        animation-name: moveInFR;
        transform: translate(-100vw, 0);
      }

      @keyframes moveInFR {
        from {
          transform: translate(100vw, 0);
        } to {
          transform: translate(0, 0);
        }
      }
      @keyframes moveInFL {
        from {
          transform: translate(-100vw, 0);
        } to {
            transform: translate(0, 0);
          }
      }
      text {
        font-size: 1.4rem;
        fill: #222;
      }

      .base {
        animation: wobbleBase 3s ease infinite alternate;

        @keyframes wobbleBase {
          from {
            transform: translate(-5px, 0px);
          } to {
              transform: translate(5px, 0px);
            }
        }
      }

      .big {
        animation: wobbleBig 2s ease infinite alternate;

        @keyframes wobbleBig {
          from {
            transform: translate(-5px, 5px);
          } to {
              transform: translate(0px, 0px);
          }
        }
      }

      .small {
        animation: wobbleSmall 3s ease infinite alternate;

        @keyframes wobbleSmall {
          from {
            transform: translate(10px, 10px);
          } to {
              transform: translate(0px, 0px);
            }
        }
      }

    }

  }

  .ground {
    height: 100%;
    background: green;
    margin-top: -4px;
  }
}

body {
  overflow: hidden;
}
