.svg-scene {
  height: 100vh;
  max-height: 1280px;

  svg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    animation: sky 2s ease forwards;
    animation-delay: 3s;
    @media screen and (max-width: 700px) {
      animation-delay: 2s;
    }

    background-image: radial-gradient(at top right, #458f94, #e2fdff, #e2fdff);
    background-position: bottom left;
    background-size: 300%;

    @keyframes sky {
      to {
        background-position: center center;
        background-size: 100%;
      }
    }

    .grass {
      transform: translateY(calc(100% - 120px));

      .blade {
        animation: grow, wobble infinite alternate;
        transform-origin: 50% 100%;

        @keyframes grow {
          from {
            transform: scaleY(0);
          }
          to {
            transform: scaleY(1);
          }
        }

        @keyframes wobble {
          from {
            transform: translateY(0);
          }
          to {
            transform: translateY(20px);
          }
        }
      }
    }

    .sun {
      fill: yellow;
      transform-origin: 150px 150px;
      animation: moveIn, shine;
      animation-fill-mode: forwards, forwards;
      animation-duration: 4s, 4s;
      animation-delay: 0s, 7s;
      animation-direction: normal, alternate;
      animation-iteration-count: 1, infinite;
      animation-timing-function: ease-in-out, ease;

      @keyframes moveIn {
        0% {
          opacity: 0;
          transform: translate(0, 0) scale(.3);
        }
        25% {
          opacity: .8;
        }
        100% {
            opacity: 1;
            transform: translate(100vw, -180px) scale(1);
        }
      }
      @keyframes shine {
         0% {
           fill: yellow;
         }
         100% {
           fill: gold;
         }
       }

      @media screen and (max-width: 700px) {
        animation-duration: 3s, 4s;
        animation-delay: 0s, 6s;
        @keyframes moveIn {
          0% {
            opacity: 0;
            transform: translate(0, 0) scale(.4);
          }
          25% {
             opacity: .8;
          }
          100% {
            opacity: 1;
            transform: translate(calc(100vw - 40px), -180px) scale(.7);
          }
        }
      }

      .sun-shine {
        stroke: yellow;

        &:nth-of-type(even) {
          stroke: gold;
        }

        stroke-width: 2px;
      }
    }

    .cloud {
      cursor: pointer;
      transform: translate(100vw, 0);

      animation-name: moveInFL, cloudColorChange;
      animation-duration: 4s;
      animation-delay: 2s;
      animation-iteration-count: 1;
      animation-timing-function: ease;
      animation-direction: normal;
      animation-fill-mode: forwards;

      @keyframes moveInFR {
        from {
          transform: translate(100vw, 0);
        } to {
          transform: translate(0, 0);
        }
      }
      @keyframes moveInFL {
        from {
          transform: translate(-100vw, 0);
        } to {
            transform: translate(0, 0);
          }
      }

      text {
        font-size: 1.4rem;
        fill: #222;
      }

      .base, .big, .small {
        fill: #fff;

        animation-duration: 2s, 12s;
        animation-delay: 2s, 4s;
        animation-iteration-count: infinite, infinite;
        animation-timing-function: ease, ease;
        animation-direction: alternate, alternate;
        animation-fill-mode: forwards, forwards;
      }

      @keyframes cloudColorChange {
        0% {
          fill: #fee;
        }
        50% {
          fill: #fff;
        }
        100% {
          fill: #ffd;
        }
      }

      .base {
        animation-name: wobbleBase, cloudColorChange;
        animation-duration: 2s, 12s;

        @keyframes wobbleBase {
          from {
            transform: translate(-5px, 0px);
          } to {
              transform: translate(5px, 0px);
            }
        }
      }

      .big {
        animation-name: wobbleBig, cloudColorChange;
        animation-duration: 2s, 12s;

        @keyframes wobbleBig {
          from {
            transform: translate(-5px, 5px);
          } to {
              transform: translate(0px, 0px);
          }
        }
      }

      .small {
        animation-name: wobbleSmall, cloudColorChange;
        animation-duration: 2s, 12s;

        @keyframes wobbleSmall {
          from {
            transform: translate(10px, 10px);
          } to {
              transform: translate(0px, 0px);
            }
        }
      }

    }

  }

  .ground {
    height: 100%;
    background: green;
    margin-top: -4px;
  }
}
