.home-page {
  position: relative;

  h1 {
    position: fixed;
    top: -.3em;
    left: 1rem;

    @import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
    font-family: 'Oswald', sans-serif;
    font-size: 4.5rem;
    font-weight: 900;
    letter-spacing: .05em;
    color: #11a9d1;
    text-transform: lowercase;
    text-shadow: 3px 0 0 #11a9d1;
    transform: scale(1, .6);

    width: 0;
    white-space: nowrap;
    overflow: hidden;
    padding-bottom: 1em;
    animation: showHeader 4s ease forwards 1;
    animation-delay: 6s;

    background-image: url(https://www.media.lichte.info/spatz.png);
    background-position-x: 105px;
    background-position-y: -210px;
    background-size: 170px 550px;
    background-repeat: no-repeat;
    padding-top: 50px;
    margin-top: -20px;

    &::before {
      content: '';
      position: absolute;
      top: calc(.248em + 50px);
      left: .54em;
      transform: scale(1, 1.6);

      background-color: #444;
      height: .14em;
      width: .14em;
      border-radius: 50%;
      border: .05em solid #11a9d1;
      box-shadow: 0 0 0 .04em #fff,
                  0 0 0 .09em #55C838;
    }

    span {
      font-size: .24em;
      position: absolute;
      top: calc(5.25em + 50px);
      left: 10.7em;
      color: #444;
      letter-spacing: .7ch;
      text-transform: uppercase;
      font-weight: 400;
      text-shadow: 1px 0 transparent;
    }

    @keyframes showHeader {
      to {
        width: 100%;
      }
    }

    @media screen and (max-width: 600px) {
      transform: scale(.7, 1) rotate(270deg);
      transform-origin: left;
      top: 50vh;
      left: 62px;

      @keyframes showHeader {
        to {
          width: 100vh;
        }
      }

      @media screen and (max-height: 600px) {
        font-size: 3rem;
      }

      @media screen and (max-height: 460px) {
        font-size: 2.5rem;
      }

      @media screen and (max-height: 340px) {
        font-size: 2rem;
        top: 60vh
      }
    }
  }

}

body.home {
  overflow: hidden;
}
